/* Estilos adicionados para criar espaço entre seções */
.section-spacing {
    margin-bottom: 2rem;
}

/* Estilos adicionados para melhorar a responsividade */
@media screen and (max-width: 768px) {
    .header-inner-content {
        padding: 0 10px; /* Reduz o padding para economizar espaço */
    }

    .logo {
        font-size: 1.5rem; /* Reduz o tamanho da fonte do logo */
    }

    nav ul {
        display: none; /* Esconde o menu quando a tela é pequena */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Posiciona o menu abaixo do cabeçalho */
        left: 0;
        right: 0;
        background-color: #2c2c2c; /* Cor de fundo do menu */
        padding: 10px; /* Espaçamento interno do menu */
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra */
    }

    .navbar.show-menu nav ul {
        display: flex; /* Exibe o menu quando a classe show-menu está presente */
    }

    .nav-icon-container {
        position: relative; /* Necessário para o posicionamento do menu de navegação */
    }

    .nav-icon-container .menu-button {
        display: inline-block; /* Exibe o botão do menu */
        width: 30px;
        cursor: pointer;
        margin-left: auto; /* Empurra o botão para a direita */
    }
}
